* {
    margin: 0px;
    padding: 0px;
}
.popoverwide{
    width:300px;
    text-align: center;
}

.navv {
    padding: 10px;
}

.btnchoose {
    padding: 10px 50px;
    margin: 0px 10px;
}

li {
    display: flex;
}

ul {
    margin: 0px 25px;
    list-style-type: none;
}


.search {
    padding: 20px;
    text-align: center;
    background-color: #dad7cc;
}

.btnwidth {
    width:200px;
    padding: 0px 0px;
    line-height: 60px;
}

.menustyle {
    background-color: #6c757d;
    -webkit-filter: opacity(0.7);
}

.menuitemstyle {
    color: aliceblue;
}

    .forcard {
    display: flex;
    flex-wrap: wrap;
    border:1px solid #dad7cc;
    border-radius:30px;
    margin-left:50px;
    margin-right:50px;
    margin-bottom:50px;
    background:whitesmoke;
    padding:30px 50px;
    justify-content:space-around;

}
.card{
    margin:10px;
}

p {
    margin: 0px;
}

    .mymodal {
    display: none;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    position: absolute;
    right:10px;
    }
    fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-width: -webkit-min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}

.mymodelbtn {
   margin:10px 0px;
    width:100%;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}